<% layout("layouts/boilerplate") %>
<br>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create New Listing</h3>
    <form action="/listings" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          placeholder="Enter title"
          required
          class="form-control"
          required
        />
        <div class="valid-feedback">title looks good</div>
        <div class="invalid-feedback">Please enter a valid title</div>

      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          class="form-control"
          placeholder="Enter description"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a description</div>

      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          name="image"
          placeholder="Enter image URL"
          required
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input
            
            name="price"
            placeholder="Enter price"
            required
            class="form-control"
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3 col-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="country"
            placeholder="Enter country name"
            required
            class="form-control"
          />
          <div class="invalid-feedback">Country name should be valid</div>

        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          placeholder="Enter location"
          required
          class="form-control"
        />
        <div class="invalid-feedback">Please enter a valid location</div>

      </div>

      <button type="submit" class="btn btn-dark">Add</button>
    </form>
  </div>
</div>
